<!--<ion-side-menus enable-menu-with-back-views="false">-->

    <!--<ion-side-menu-content>-->
        <!--&lt;!&ndash; <ion-nav-bar class="bar bar-header bar-positive">-->
             <!--<ion-nav-back-button></ion-nav-back-button>-->
             <!--<ion-nav-buttons side="left">-->
                 <!--<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>-->
             <!--</ion-nav-buttons>-->
         <!--</ion-nav-bar> &ndash;&gt;-->
         <!--<ion-nav-view name="side-menu21"></ion-nav-view>-->
     <!--</ion-side-menu-content>-->
     <!--<ion-side-menu side="left" id="side-menu21">-->
         <!--<ion-header-bar class="bar-stable">-->
             <!--<div class="title">bazaarvoice:</div>-->
         <!--</ion-header-bar>-->
         <!--<ion-content padding="false" class="side-menu-left has-header" style="background-color: #00a065">-->
             <!--<ion-list id="menu-list1" style="background-color: #00a065">-->
                 <!--<ion-item id="menu-list-item1" style="color: #00a065" ui-sref="menu.homepage" menu-close="">Home</ion-item>-->
                 <!--<ion-item id="menu-list-item2" style="color: #00a065" ui-sref="menu.bazaarvoice" menu-close="">Recommendations</ion-item>-->
                 <!--<ion-item id="menu-list-item3" style="color: #00a065" ui-sref="menu.conversations" menu-close="">Conversations</ion-item>-->
             <!--</ion-list>-->
         <!--</ion-content>-->
     <!--</ion-side-menu>-->
 <!--</ion-side-menus>-->